* {
    margin: 0;
    padding: 0;
}

.lol{
    color: black;
    
}

.primer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 600px;
    

}


.border {

border-top: 10px;
border-color: black;

}
.logo_container {
    height: 100%;
    display: table;
    float: left;
    background: cornflowerblue;
}

.picture {

    color: white;
    height: 80px;
    width: 200px;
    
    display: table-cell;
    vertical-align: middle;
    background: cornflowerblue;

}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 176, 215, 0.679);
   
    height: 30px;
    padding: 25px 0;
    width: 100%;

    .menu-list {
       
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-style:solid;
      
        a {
            
            padding-top: 22px;
            text-decoration: none;
            font-size: 30px;
            color: rgb(0, 0, 0);
        }
    }
}


.main-accordion-container {
    width: 100%;
    border-bottom: 4px solid black;

    .accordion-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        border-top: 2px solid black;

        .accordion-title {
            
            width: 100%;
            height: auto;
            background: rgb(30, 30, 30);
            color: rgb(180, 214, 255);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 0px;

            p {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                padding: 0 20px;
                pointer-events: none;
                text-align: center;
                font-size: 30px;
            }

            &:hover {
                transform: scale(1.05);
                border: 3px solid black;
            }
        }

        .accordion-desc {
            width: 100%;
            border-top: 3px solid rgb(41, 83, 200);
            display: none;
        }

        &.tab-active {
            .accordion-title {
                height: auto;

                p {
                    font-size: 40px;
                    pointer-events: all;
                }
            }

            .accordion-desc {
                display: flex;
                align-items: center;
                justify-content: center;
                height: auto;
                background-color: darkcyan;
                padding: 15px 10px 15px 10px;

                p {
                    text-align: justify;
                    font-size: 25px;
                    color: rgb(242, 244, 246);
                    padding: 0 20px;

                }
            }
        }
    }
}


.card-list {
    background: rgb(46, 145, 143);
    display: flex;
    justify-content: space-around;
    
    padding-top: 20px;
padding-left: 100px;
padding-right: 100px;
    .card-item {
        border: 2px solid black;
        width: 30%;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
        margin: 0 40px 20px 0;
        background: aliceblue;
        box-shadow: 3px 3px 8px +1px black;

        &:hover {
            transform: scale(1.005) translateY(-3px);
        }

        img {
            width: 100%;
            height: 290px;
            object-fit: cover;
        }

        .card-info {
            height: auto;
            padding: 10px 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            .card-title {
                width: 100%;
                font-size: 25px;
                font-weight: bold;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-align: center;
                margin-bottom: 15px;
            }

            .card-desc {
                font-size: 22px;
                text-align: justify;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }

            .card-cta {
                width: 35%;
                height: 45px;
                text-decoration: none;
                border: 3px solid black;
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 25px;
                background: rgb(22, 173, 158);
                color: aliceblue;
                margin: 30px 10px 5px 0;

                &:hover {
                    transform: scale(1.1) translateX(-5px);
                }
            }


        }
    }
}


main {
    background:   rgb(72, 108, 176);;

    .container-1 {
        background: rgb(112, 136, 195);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 30px 0 30px 0;

        img {
            width: 45%;
            padding: 20px 0 20px 0;
        }

        .container-1-text {
            width: 45%;
            border: 2px solid black;
            border-radius: 10px;
            background: rgb(190, 185, 179);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: auto;
            color: rgb(50, 54, 53);

            h1 {
                padding: 10px 0 10px 0;
                font-size: 28px;
            }

            h2 {
                padding: 0 15px 10px 15px;
                font-size: 23px;
                text-align: center;
            }

            p {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                text-align: justify;
                font-size: 15px;
                padding: 10px 15px 10px 15px;
            }
        }
    }

    .container-2 {
        background: rgb(98, 175, 106);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0 30px 0;

        img {
            width: 45%;
            padding: 20px 0 20px 0;
        }

        .container-2-text {
            width: 45%;
            border: 2px solid black;
            border-radius: 10px;
            background: burlywood;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: auto;
            color: rgb(50, 54, 53);
           

            h1 {
                padding: 10px 0 10px 0;
                font-size: 28px;
            }

            h2 {
                padding: 0 15px 10px 15px;
                font-size: 23px;
                text-align: center;
            }

            p {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                text-align: justify;
                font-size: 18px;
                padding: 10px 15px 10px 15px;
            }

        }
        
    }

    .container-3 {
        background: rgb(72, 108, 176);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0 30px 0;

        img {
            width: 50%;
            padding: 20px 0 20px 0;
        }

        .container-3-text {
            width: 80%;
            border: 2px solid black;
            border-radius: 10px;
            background: rgb(154, 188, 233);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: auto;
            color: rgb(50, 54, 53);

            h1 {
                padding: 10px 0 10px 0;
                font-size: 28px;
            }

            h2 {
                padding: 0 15px 10px 15px;
                font-size: 23px;
                text-align: center;
            }

            p {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                text-align: justify;
                font-size: 15px;
                padding: 10px 15px 10px 15px;
            }
        }
    }

}


.footer-container {
    width: 100%;
    height: auto;
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0 20px 0;

    .footer-list {
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 0 0 30px 0;

        .footer-list-title {
            border-bottom: 1px solid white;
            margin: 0 0 20px 0;
            padding: 0 0 10px 0;

            h1 {
                font-size: 25px;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        }

        p {
            font-size: 22px;
            line-height: 30px;
        }
    }

    .footer-space {
        width: 25%;
    }
}



@media (max-width:  991px) {

  
    .card-list {
        .card-item {
            img {
                height: 200px;
            }

            .card-info {
                .card-cta {
                    width: 50%;
                    font-size: 20px;
                    margin: 20px 5px 5px 0;
                }
            }
        }
    }

    
    .footer-container {
        .footer-list {
            .footer-list-title {
                margin: 0 0 13px 0;
                padding: 0 0 6px 0;

                h1 {
                    font-size: 15px;
                }
            }

            p {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

   
}

@media (max-width: 701px) {

   
    .menu-container {
        justify-content: flex-end;
        position: relative;

        .menu-list {
            display: none;
        }

        .hamburger-icon {
            width: 35px;
            height: 25px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            span {
                width: 100%;
                height: 4px;
                background: rgb(46, 14, 33);
                display: block;
                border-radius: 2px;
            }
        }
    }

    .menu-container.menu-open {
        .menu-list {
            z-index: 2;
            display: flex;
            width: auto;
            height: auto;
            border: 2px solid black;
            margin: 250px 10px 0 0;
            flex-direction: column;
            text-align: center;
            background-color: aquamarine;
            border-radius: 15px;

            a {
                padding: 5px;
                color: black;
                font-size: 30px;
            }
        }
    }

    .sub-menu-container {
        justify-content: flex-start;
        position: relative;
        height: 40px;

        .sub-hamburger-icon {
            width: 35px;
            height: 25px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            span {
                width: 100%;
                height: 4px;
                background: black;
                display: block;
                border-radius: 2px;
            }
        }

        .sub-menu-list {
            display: none;
        }
    }

    .sub-menu-container.sub-menu-open {
        .sub-menu-list {
            display: flex;
            z-index: 1;
            width: auto;
            height: auto;
            background-color: blue;
            flex-direction: column;
            border: 2px solid beige;
            border-radius: 15px;
            margin: 200px 0 0 10px;
            text-align: center;

            a {
                padding: 5px;
                color: beige;
                font-size: 30px;
            }
        }
    }

   
    .card-list {
        .card-item {
            width: 45%;

            img {
                height: 350px;
            }
        }
    }

    main {
        .container-1 {
            flex-direction: column;
            border-bottom: solid 2px black;

            img {
                width: 90%;
                margin: 10px 0 10px 0;
            }

            .container-1-text {
                width: 90%;
            }
        }

        .container-2 {
            flex-direction: column;
            border-bottom: solid 2px black;
            padding: 20px 0 0 0;

            img {
                width: 90%;
                margin: 10px 0 10px 0;
            }

            .container-2-text {
                width: 90%;
            }
        }

        .container-3 {
            flex-direction: column;
            border-bottom: solid 2px black;

            img {
                width: 90%;
                margin: 10px 0 10px 0;
            }

            .container-3-text {
                width: 90%;
            }
        }
    }

   
    .footer-container {
        .footer-list {
            padding: 0 0 15px 0;

            .footer-list-title {
                margin: 0 0 10px 0;
                padding: 0 0 4px 0;

                h1 {
                    font-size: 12px;
                }
            }

            p {
                font-size: 10px;
                line-height: 15px;
            }
        }
    }

    
}

@media (max-width: 501px) {

 
    .card-list {
        .card-item {
            width: 90%;

            img {
                height: 200px;
            }

            .card-info {
                .card-cta {
                    width: 50%;
                    font-size: 15px;
                    margin: 20px 5px 5px 0;
                }
            }
        }
    }


    .footer-container {
        flex-direction: column;
        align-items: center;

        .footer-list {
            width: 90%;
            padding: 0 0 50px 0;

            .footer-list-title {
                border-bottom: 2px solid white;
                margin: 0 0 13px 0;
                padding: 0 0 7px 0;

                h1 {
                    font-size: 22px;
                }
            }

            p {
                font-size: 21px;
                line-height: 20px;
            }
        }

        .footer-space {
            display: none;
        }
    }


}